.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

#main-window {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 100px 70px;
  border-radius: 5px;
  flex-grow: 1;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);

}

#title-bar { 
  position: relative;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  border-radius: 5px 5px 0px 0px;
  background-color: #E2DFE2;
  height: 25px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  z-index: 1;

}
#window-title {
  position: absolute;
  left: 49%;
  font-size: 12px;
  font-weight: bold;
  margin-top: 7px;
  /* margin-left: 40%; */
  
}

.window-btn{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 5px;
  margin-top: 9px;
}

#red-btn {
  background-color: #EA5149;
}

#yellow-btn {
  background-color: #F3BE50;
}

#green-btn {
  background-color: #469E35;
}

#main-content{
  font-family: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#data-input {
  height: 100%;
  width: 100%;
}

#wait-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hide {
  display: none;
}

#data-output {
  border-radius: 0px 0px 5px 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  /* background-color: #839397; */
  flex-grow: 1;
  border-left: 2px solid rgb(228, 228, 228);
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  font-size: 15px;
  height: auto;
}

#first-column {
  display: flex;
  flex-direction: column;
}

#second-column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], textarea, select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  min-height: 36px;
  padding: 8px 12px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 5px;
  font-size: 13px;
  color: #404040;
  outline: none;
}

input[type='submit'], button, .btn{
  color: white;
  text-decoration: none;
  background-color: rgb(37, 72, 120);  /* change button color here */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  border: 0px;
  outline: none;
  display: inline-block;
  padding: 8px 22px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: .12rem;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: inherit;
}

input[type='submit']:hover, button:hover, .btn:hover {
 background-color: rgb(25, 51, 88); /* change button color here */
}

#add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36b334;
}

#add:hover {
  background-color: #2b8e29;
}

#delete {
  display: flex;
  background-color: #b53c35;
  justify-content: center;
  align-items: center;
}

#delete:hover {
  background-color: #93302b;
}

input[type='submit']:active, button:active, .btn:active{
  background-color: rgba(0,0,0, .3);  /* change button color here */
  border: 0px;
  -webkit-box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, .15);
  box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, .15);
}

#btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

#form-entries {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

}

#main-table {
  width: 100%;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

th {
  font-size: 18px;
}

#third-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

td{
  border-style: none;
  border-style: solid 1px black;
  padding: 0;
  font-size: 13px;
}

tr {
  line-height: 25px;
}

#message-box {
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 5px 50px;
}

.success {
  background-color: #8bc34a;
}

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ec3023;
  height: 30px;
}

.disable-btn {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkInput {
  border: 20px solid red;
}

#old-people-table, #city-table {
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

#city-table {
  margin-top: 50px;
  margin-bottom: 50px;
}